%h2 Sign up
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.semantic_errors
  = f.inputs :name => 'Required' do
    = f.input :username, hint: "Enter your username"
    = f.input :email, hint: "Enter your email address"
    = f.input :password, hint: "Enter password"
    = f.input :password_confirmation, hint: "Confirm password"
  = f.inputs :name => 'Optional' do
    = f.input :gender
    = f.input :location, hint: "For example: Warsaw, Poland"
  = f.actions(:submit, :button_html => {:class => "primary"})
= render :partial => "devise/shared/links"
