- model_class = User.new.class
%h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
= table_for @users do |t|
  = t.data :html => { :class => 'table.table-striped' } do
    = t.cell(:avatar) { |u| gravatar_image_tag(u.email, :alt => 'Avatar')}
    = t.cell(:username) { |u| link_to(u.username, user_path(u)) }
    = t.cell :email
    = t.cell :gender
    = t.cell :location
    = t.cell :created_at
    -# = t.cell("") { |u| link_to("Edit", edit_user_registration_path) if current_user and u == current_user }
