%h1=t @user.username

%p
  %strong= t('users.avatar') + ":"
  %br
  = gravatar_image_tag(@user.email, :alt => t('users.avatar'), :gravatar => {:size => 100})
%p
  %strong= User.human_attribute_name(:location) + ':'
  %br
  = @user.location
%p
  %strong= User.human_attribute_name(:gender) + ':'
  %br
  = @user.gender.name
%p
  %strong= User.human_attribute_name(:email) + ':'
  %br
  = @user.email

.form-actions
  = link_to t("helpers.links.back"), users_path, :class => 'btn'
