%h1= t('products.products')
%table.table.table-striped
= table_for @products do |t|
  = t.data do
    = t.cell(:name)
    = t.cell(:company)
    = t.cell(:shops)
    = t.cell(:ingriedients)
    = t.cell(:price)
